<aside class="sidebar">
  <div class="card" id="menu">
    <h3>MENU</h3>
    <div class="inner menu">
      <a href="/members.html">Member メンバー</a>
       <a href="/publications.html">Publication 書籍・論文など</a>
      <a href="/projects.html">Projects プロジェクト</a>
      <a href="/others.html">Others その他</a>
      <hr />
      <a href="/prospective.html">For Prospective Students</a>
    </div>
  </div>

  <div class="card" style="margin-top:16px">
    <h3>CONTACT</h3>
    <div class="inner" id="contact">
      <p>金沢大学国際基幹教育院／大学院人間社会環境研究科人文学専攻<br> 飯田玲子研究室</p>
      <p>住所：〒920-1192 石川県金沢市角間町</p>
      <p>Mail：<a href="mailto:labo@example.ac.jp">labo@example.ac.jp</a></p>
      <p><a href="#" class="tag">Google Map</a>　<a href="#" class="tag">Campus Map</a></p>
    </div>
  </div>

  <div class="card" style="margin-top:16px">
    <h3>LINK</h3>
    <div class="inner links" id="links">
      <a href="#">大学公式サイト</a>
      <a href="#">基幹教育院・専攻</a>
      <a href="#">関連研究室A</a>
      <a href="#">関連研究室B</a>
    </div>
  </div>
</aside>
